body {
  background-color: #CFBB99
}

html {
  font-family: 'Quicksand', sans-serif;
}

#firsttitle {
  text-align: center;
}

.filter-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.filter-container label {
  display: flex;
  flex-direction: column;
}

input[type="checkbox"] {
  accent-color: #889063;
}

.nav-links a.active {
  background-color: #f5f3f0;

}

.star {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  vertical-align: middle;
}
.rating-stars {
  margin-bottom: 0.5rem;
}


.campcontainer {
  background-color: #E5D7C4;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;

  border-radius: 10px;
  cursor: pointer;
}

.campingtitle {
  margin: 0;
  font-size: 1.3rem;
  text-align: left;
}

.campingrow {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  align-items: stretch;
  flex: 1;
}

.campingtext-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
  height: 100%;
}

.campingtext {
  margin: 0;
  line-height: 1.3;
  cursor: pointer;
  font-size: 14px;
}

button.campingBtn {
  background-color: #bbc0a1;
  border-radius: 20px;
  width: 8em;
  height: 3em;
  font-weight: 600;
  border-color: #889063;
  margin-top: auto;
  margin-bottom: 0.5em;
}


.campingpic {
  width: 150px;
  height: 150px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.header-content {
  position: relative;
  padding: 10px 20px;
  height: 80px;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: bold;
  margin: 0 auto;
}

.hamburger {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.8em;
  cursor: pointer;
}

.mainlogo {
  width: 70px;
  height: auto;
  display: block;
}

.nav-links {
  display: none;
  flex-direction: column;
  background-color: #e5d7c4;
  position: absolute;
  top: 60px;
  right: 1em;
  padding: 1rem;
  border-radius: 6px;
  z-index: 999;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: max-content;
  list-style: none;
}

.nav-links a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.nav-links.show {
  display: flex;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  z-index: 100;
}

.dropdown-content.show {
  display: block;
}

.camplylogo {
  position: absolute;
  left: 30px;
  top: 50%;
  width: 100px;
  transform: translateY(-50%);

}

.dropdown-content-city {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  z-index: 100;
}

.dropdown-content-city.show {
  display: block;
}


.filterbuttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}


.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 37px;

}

.switch input {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.switch input:checked+.slider .circle-img {
  transform: translateX(29px);
}

.switch input:checked+.slider {
  background-color: #889063;
}

body.user-is-tabbing .switch input:focus+.slider {
  outline: 3px solid rgb(0, 191, 255);
  border-radius: 34px;
}

.switch input:focus {
  outline: none;
}

.slider {
  background-color: #354024;
  border-radius: 34px;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  cursor: pointer;
}

.circle-img {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 16px;
  padding: 6px;
  border-radius: 50%;
  transition: 0.4s;
  background-color: #ffffff;
}

.price-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-field input {
  width: 8em;
}

.separator {
  margin-top: 26px;
  font-size: 1.2rem;
}

#backToTopWrapper {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

#upBtn {
  opacity: 0%;
  background-color: #889063;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 17px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

}

#upBtn.show {
  opacity: 1;
  pointer-events: auto;
}

#upBtn:hover {
  background-color: #889063;
  transform: scale(1.1);
}


#resetFiltersBtn {
  background-color: #555;
  border-color: #919191;
  color: #f9f9f9;
  padding: 7px;
  margin-bottom: 1em;
}


#resetFiltersBtn:disabled {
  background-color: #ccc;
  color: #666;
  border-color: #aaa;
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

body.user-is-tabbing #resetFiltersBtn:focus {
  outline: 3px solid rgb(0, 191, 255);
  border-radius: 34px;
}

button {
  background-color: #ccd0bb;
  border-color: #889063;
  border-radius: 15px;
  font-size: 1rem;
  padding: 0.3em;
  cursor: pointer;

}

button:hover {
  background-color: #ccd0bb;
}

.campcontainer:hover {
  background-color: rgb(239, 227, 208);
  transform: scale(1.02);
  cursor: pointer;
}

.slideinfo {
  margin-top: 0;

}


@media (max-width: 395px) {
  .campingrow {
    flex-direction: column;
    align-items: center;
  }



  .campcontainer {
    height: auto;
    padding: 1rem;
  }

  .campingtext-container {
    width: 100%;
  }

}

@media (min-width: 700px) {

  .nav-links a.active {
    background-color: #a6ac89;
    border: 2px solid #4a5738;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }

  body {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .header-content {
    height: 100px;
    padding: 20px 40px;
  }

  .mainlogo {
    width: 70px;
    height: auto;
  }

  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex !important;
    position: static;
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    gap: 7px;
    border-radius: 4px;
  }

  .nav-links a {
    padding: 0.5rem 1rem;
    background-color: #889063;
    transition: background-color 0.2s ease;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
  }

  .nav-links a:hover {
    background-color: #9b9e8b;
  }


  .camplylogo {
    width: 60px;
  }

  .filter-container {
    flex-wrap: nowrap;
  }

  #campingsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 2rem 0 2rem 0;
    width: 100%;
    justify-content: start;
    margin-left: 0;
  }

  .campingtext {
    margin: 0;
    line-height: 1.3;
    cursor: pointer;
    font-size: 16px;
  }

  .campcontainer {
    width: 100%;
    margin: 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }



  button.campingtext {
    border-radius: 20px;
    width: 8em;
    height: 3em;
    font-weight: 600;
    margin-top: 0.1em;
    border-color: #889063;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  button.campingtext:hover {
    transform: scale(1.02);
    cursor: pointer;
    color: #000;
    background-color: #c2c8a5;
  }


  .campingpic {
    width: 200px;
    height: 200px;
    
  }

  .campinginfo h2 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
  }

  .campinginfo a {
    color: #643d26;
    font-weight: bold;
    text-decoration: underline;
  }

  .campinginfo p {
    text-align: center;
  }

  .switchDiv {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }


}

@media (min-width:1000px) {
  #campingsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 kolumner */
    gap: 2rem;
    padding: 2rem 0;
    width: 100%;
    justify-content: start;
    margin-left: 0;
  }

  .nav-links a.active {
    background-color: #a6ac89;
    /* mörkare bakgrund för aktiv */
    border: 2px solid #4a5738;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }
}