body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: #CFBB99;
  margin-bottom: 8em;

}

html{
  font-family: 'Quicksand', sans-serif;
    
    }
.choice-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
}




#closeModal {
 
  top: 10px;
  right: 10px;
  background-color: #f6bcbc;
  
 
 
  font-weight: bold;
  cursor: pointer;
}

.result {
  margin-bottom: 3em;
}

.elemchoice {
  background-color: #f5f0e6;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 5px rgba();
  cursor: pointer;
}

#firsttitle {
  text-align: center;
}

.vilkenstad {
  background-color: #E5D7C4;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 1em;
}


#firsttitle {
  text-align: center;
}

.filter-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.filter-container label {
  display: flex;
  flex-direction: column;
}

.campcontainer {
  background-color: #E5D7C4;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding: 7px;
  margin-bottom: 20px;
}

.header-content {
  position: relative;
  padding: 10px 20px;
  height: 80px;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: bold;
  margin: 0 auto;
}

.hamburger {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.8em;
  cursor: pointer;
}

.mainlogo {
  width: 70px;
  height: auto;
}

.nav-links {
  display: none;
  flex-direction: column;
  background-color: #e5d7c4;
  position: absolute;
  top: 60px;
  right: 1em;
  padding: 1rem;
  border-radius: 6px;
  z-index: 999;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: max-content;
  list-style: none;
}

.nav-links a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.nav-links.show {
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  z-index: 100;
}

.dropdown-content.show {
  display: block;
}

.camplylogo {
  position: absolute;
  left: 20px;
  top: 52%;
  width: 100px;
  width: 40px;
  transform: translateY(-50%);
}

.filterbuttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

#submitBtn, #redoBtn, .campingbtn {
  font-size: 17px;
}

.circle-img {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 16px;
  padding: 6px;
  border-radius: 50%;
  transition: 0.4s;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1014px) {

  body {
    padding: 0 3rem;
  }

  .choice-container {
    padding: 0 1.5rem;
  }

  .header-content {
    padding: 15px 1.5rem;
  }

  .nav-links {
    right: 1.5rem;
  }

  .hamburger {
    right: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    padding: 0 1rem;
  }

  .choice-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 1rem;
  }

  .elemchoice {
    flex: 1 1 0;
    max-width: 45%;

  }

  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex !important;
    position: static;
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    gap: 7px;
  }

  .nav-links a {
    padding: 0.5rem 1rem;
    background-color: #889063;
    transition: background-color 0.2 ease;
  }

  .nav-links a:hover {
    background-color: #9b9e8b;
  }

  .header-content {
    padding: 15px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 100%;
  }

}

@media screen and (min-width: 1025px) {
  body {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .choice-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
  }

  .elemchoice {
    flex: 1;
    min-width: 150px;
    padding: 15px;
    background-color: #f5f0e6;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
  }

  .nav-links {
    display: flex !important;
    position: static;
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    gap: 7px;
  }

  .nav-links a {
    padding: 0.5rem 1rem;
    background-color: #889063;
    transition: background-color 0.2 ease;
  }

  .nav-links a:hover {
    background-color: #9b9e8b;
  }

  .hamburger {
    display: none;
  }

  .camplylogo {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .header-content {
    height: 100px;
    padding: 20px 40px;
  }

  .mainlogo {
    width: 70px;
    height: auto;
  }


}
@media (min-width: 768px) {

  .mainlogo{
    margin-left: 30px;
  }

}