body {
    width: 480px;
    background-color: #CFBB99
}

#firsttitle{
    text-align: center;
}

.filter-container{
    display:flex;
    gap:1rem;
    align-items: center;
    flex-wrap: wrap;
}

.filter-container label{
    display:flex;
    flex-direction: column;
}

.campcontainer {
    background-color: #E5D7C4;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    padding: 7px;
    margin-bottom: 20px;
}

.campingtext {
    
}