body {
  width: 100%;
  max-width: 480px;
    background-color: #CFBB99
}

#firsttitle{
    text-align: center;
}

.filter-container{
    display:flex;
    gap:1rem;
    align-items: center;
    flex-wrap: wrap;
}

.filter-container label{
    display:flex;
    flex-direction: column;
}

.campcontainer {
  background-color: #E5D7C4;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
  height: 245px;
  border-radius: 10px;
  cursor: pointer;
}

.campingtitle {
  margin: 0;
  font-size: 1.3rem;
  text-align: left;
}

.campingrow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.campingtext-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.campingtext {
  margin: 0;
  line-height: 1.3;
  cursor: pointer;
}

button.campingtext {
  background-color: #b9bea4;
  border-radius: 20px;
  width: 8em;
  height: 3em;
  font-weight: 600;
  margin-top: 0.1em;
  border-color: #889063;
}

.campingpic {
  width: 150px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

.header-content {
    position: relative;
    padding: 10px 20px;
    height: 80px;
  }
  
  .logo {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;
  }
  
  .hamburger {
    position: absolute;
    right:20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 1.8em;
    cursor: pointer;
  }

  .mainlogo{
    width:100%;
    height:auto;
  }

  .nav-links {
    display: none; /* gömd från början */
    flex-direction: column;
    background-color: #e5d7c4;
    position: absolute;
    top: 50%; /* under headern – justera vid behov */
    right: 1em; /* högra hörnet */
    padding: 1rem;
   
    border-radius: 6px;
    z-index: 999; /* säkerställer att den ligger över annat */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: max-content;
    list-style: none;
  }
  
  .nav-links a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  
  .nav-links.show {
    display: flex; 
  }


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    z-index: 100;
  }
  
  .dropdown-content.show {
    display: block;
  }

  .camplylogo {
    position: absolute;
    left: 20px;
    top:52% ;
    width: 100px;
    width:40px;
    transform:translateY(-50%);
  }

  .dropdown-content-city {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    z-index: 100;
  }
  
  .dropdown-content-city.show {
    display: block;
  }

  .filterbuttons {
    display:flex;
    gap:1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  

  .switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 37px;

  }
  
  .switch input {
    display: none;
  }
  .switch input:checked + .slider .circle-img {
    transform: translateX(29px); 
  }

  .switch input:checked + .slider {
    
    background-color: #889063; 
  }
  
  .slider {
    background-color: #354024;
    border-radius: 34px;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    cursor: pointer;
  }
  
  .circle-img {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 16px;
    padding: 6px;
    border-radius: 50%;
    transition: 0.4s;
    background-color: #ffffff;
  }
  
  .price-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .price-field input {
    width: 8em; 
  }
  
  .separator {
    margin-top: 26px;
    font-size: 1.2rem;
  }

  button {
    cursor: pointer;
    background-color: #b9bea4;
    border-color: #889063;
    width: 9em;
    margin-right: 1em;
    height: 2em;
    font-size: 0.9rem;
  }
 


  