body {
  width: 100%;
  max-width: 480px;
    background-color: #CFBB99
}

#firsttitle{
    text-align: center;
}

.filter-container{
    display:flex;
    gap:1rem;
    align-items: center;
    flex-wrap: wrap;
}

.filter-container label{
    display:flex;
    flex-direction: column;
}

.campcontainer {
  background-color: #E5D7C4;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
  height: 245px;
  border-radius: 10px;
  cursor: pointer;
}

.campingtitle {
  margin: 0;
  font-size: 1.3rem;
  text-align: left;
}

.campingrow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.campingtext-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.campingtext {
  margin: 0;
  line-height: 1.3;
  cursor: pointer;
}

button.campingtext {
  background-color: #b9bea4;
  border-radius: 20px;
  width: 8em;
  height: 3em;
  font-weight: 600;
  margin-top: 0.1em;
  border-color: #889063;
}

.campingpic {
  width: 150px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

.header-content {
    position: relative;
    padding: 10px 20px;
    height: 80px;
  }
  
  .logo {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;
  }
  
  .hamburger {
    position: absolute;
    right:20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 1.8em;
    cursor: pointer;
  }

  .mainlogo{
    width:100%;
    height:auto;
  }

  .nav-links {
    display: none; /* gömd från början */
    flex-direction: column;
    background-color: #e5d7c4;
    position: absolute;
    top: 50%; /* under headern – justera vid behov */
    right: 1em; /* högra hörnet */
    padding: 1rem;
   
    border-radius: 6px;
    z-index: 999; /* säkerställer att den ligger över annat */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: max-content;
    list-style: none;
  }
  
  .nav-links a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  
  .nav-links.show {
    display: flex; 
  }


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    z-index: 100;
  }
  
  .dropdown-content.show {
    display: block;
  }

  .camplylogo {
    position: absolute;
    left: 20px;
    top:52% ;
    width: 100px;
    width:40px;
    transform:translateY(-50%);
  }

  .dropdown-content-city {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    z-index: 100;
  }
  
  .dropdown-content-city.show {
    display: block;
  }

  .filterbuttons {
    display:flex;
    gap:1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  

  .switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 37px;

  }
  
  .switch input {
    display: none;
  }
  .switch input:checked + .slider .circle-img {
    transform: translateX(29px); 
  }

  .switch input:checked + .slider {
    
    background-color: #889063; 
  }
  
  .slider {
    background-color: #354024;
    border-radius: 34px;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    cursor: pointer;
  }
  
  .circle-img {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 16px;
    padding: 6px;
    border-radius: 50%;
    transition: 0.4s;
    background-color: #ffffff;
  }
  
  .price-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .price-field input {
    width: 8em; 
  }
  
  .separator {
    margin-top: 26px;
    font-size: 1.2rem;
  }

  @media (min-width: 768px) {
    body {
      width: auto;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 2rem;
    }

    .header-content {
      height: 100px;
      padding: 20px 40px;
    }

    .mainlogo{
      width: 70px;
      height: auto;
    }

    .hamburger {
      display: none;
    }

    .nav-links {
      display: flex !important;
      position:static;
      flex-direction: row;
      background-color: transparent;
      box-shadow: none;
      padding: 0;
      gap: 7px;
      border-radius: 4px;
    }

    .nav-links a{
      padding: 0.5rem 1rem;
      font-weight: bold;
      background-color: #889063;
      transition: background-color 0.2 ease;
    }

    .nav-links a:hover{
      background-color:#9b9e8b;
    }


    .camplylogo{
      width: 60px;
    }

    .filter-container{
      flex-wrap: nowrap;
    }

    #campingsContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      padding: 2rem 0 2rem 0;
      width: 100%;
      justify-content: start;
      margin-left: 0;
    }

    .campcontainer{
      width: 100%;
      margin: 0;
    }

    .campingpic{
      width:200px;
      height: auto;
      max-width: 300px;
    }

    .campinginfo h2{
      margin: 0;
      font-size: 1.5rem;
      text-align:center;
      display:flex;
    }

    .campinginfo a {
      color:#643d26;
      font-weight: bold;
      text-decoration: underline;
    }

    .campinginfo p{
      text-align: center;
    }

    .switchDiv{
      display:flex;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .quizstad{
      transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .quizstad:hover{
      background-color: #e0dad1;
      transform:scale(1.02);
      cursor:pointer;
    }
  