body {
  width: 380px;
    background-color: #CFBB99
}

#map {
    height: 300px;
    width: 100%;
}

.weatherDiv {
    display: flex;
   
    
    gap: 10px;

    overflow-x: auto;
}



.weatherbox {
    display: inline-block;
    padding: 10px;
    margin: 2px;
    
    margin-bottom: 1em;
    
    background-color: #e5d7c4;
    
    color: black;
    text-align: center;
    text-decoration: none; /* ingen underline på länken */
   
    width: fit-content;
    transition: background-color 0.2s;
    font-size: smaller;
  }
  
  .weatherbox:hover {
    background-color: #ebe1d3;
    cursor: pointer;
  }

  .btn {
    margin-top: 1em;
    cursor: pointer;
  }