body {
  width: 380px;
    background-color: #CFBB99
}

html{
    font-family: 'Quicksand', sans-serif;
}

#map {
    height: 300px;
    width: 100%;
}

.weatherDiv {
    display: flex;
   
    
    gap: 10px;

    overflow-x: auto;
}


.weatherbox {
    display: inline-block;
    padding: 10px;
    margin: 2px;
    
    margin-bottom: 1em;
    
    background-color: #e5d7c4;
    
    color: black;
    text-align: center;
    text-decoration: none; /* ingen underline på länken */
   
    width: fit-content;
    transition: background-color 0.2s;
    font-size: smaller;
  }
  
  .weatherbox:hover {
    background-color: #ebe1d3;
    cursor: pointer;
  }

  .btn {
    margin-top: 1em;
    cursor: pointer;
  }

  #firsttitle{
    text-align: center;
}

.filter-container{
    display:flex;
    gap:1rem;
    align-items: center;
    flex-wrap: wrap;
}

.filter-container label{
    display:flex;
    flex-direction: column;
}

.campcontainer {
    background-color: #E5D7C4;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    padding: 7px;
    margin-bottom: 20px;
}

.header-content {
    position: relative;
    padding: 10px 20px;
    height: 80px;
  }
  
  .logo {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;
  }
  
  .hamburger {
    position: absolute;
    right:20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 1.8em;
    cursor: pointer;
  }

  .mainlogo{
    width:100%;
    height:auto;
  }

  .nav-links {
    display: none; /* gömd från början */
    flex-direction: column;
    background-color: #e5d7c4;
    position: absolute;
    top: 60px; /* under headern – justera vid behov */
    right: 20px; /* högra hörnet */
    padding: 1rem;
   
    border-radius: 6px;
    z-index: 999; /* säkerställer att den ligger över annat */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: max-content;
    list-style: none;
  }
  
  .nav-links a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  
  .nav-links.show {
    display: flex; 
  }


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    z-index: 100;
  }
  
  .dropdown-content.show {
    display: block;
  }

  .camplylogo {
    position: absolute;
    left: 20px;
    top:52% ;
    width: 100px;
    width:40px;
    transform:translateY(-50%);
  }

  .dropdown-content-city {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    z-index: 100;
  }
  
  .dropdown-content-city.show {
    display: block;
  }

  .filterbuttons {
    display:flex;
    gap:1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    
  }

  button {
    background-color: #ccd0bb;
    border-color: #889063;
    border-radius: 15px;
   font-size: 1rem;
   padding: 0.3em;
  }
  

  .switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 37px;

  }
  
  .switch input {
    display: none;
  }
  .switch input:checked + .slider .circle-img {
    transform: translateX(29px); 
  }

  .switch input:checked + .slider {
    
    background-color: #889063; 
  }
  
  .slider {
    background-color: #354024;
    border-radius: 34px;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }
  
  .circle-img {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 16px;
    padding: 6px;
    border-radius: 50%;
    transition: 0.4s;
    background-color: #ffffff;
  }
  
  .price-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .price-field input {
    width: 8em; 
  }
  
  .separator {
    margin-top: 26px;
    font-size: 1.2rem;
  }

  #mapcontainer {

    width: 380px;
    height: 300px;
   position: relative;
}

#loadingicon {
  
   left: 0px;
   top: 0px;
   width: 50px;
  
   
   
}

#mapoverlay {
    z-index: 2;
    position: absolute;
    
    width: 100%;
    height: 100%;
display: flex;
justify-content: center;
align-items: center;

mix-blend-mode: screen;
}

#map {
  z-index: 1;
  filter: blur(2px);
  margin-top: 1em;
}


.weathericon {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.specificCampingDiv{
background-color: #E5D7C4;
padding: 1em;
margin-top: 1em;
margin-bottom: 1em;

}

@media screen and (min-width: 768px) {
  body{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  #map{
    height: 100%;
  }

  header-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .hamburger{
    display: none;
  }

  .camplylogo{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .mainlogo{
    width: 70px;
    height: auto;
  }

  .nav-links {
    display: flex !important;
    flex-direction: row;
    position: static;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    gap: 1rem;
  }

   .nav-links a{
      padding: 0.5rem 1rem;
      font-weight: bold;
      background-color: #889063;
      transition: background-color 0.2 ease;
    }

    .nav-links a:hover{
      background-color:#9b9e8b;
    }

    .btn, #monuments{
      margin-top: 1em;
      margin-right: 1em;
    }

    .map-and-info{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 40px;
      flex-wrap: wrap;
    }

    .reviewsDiv{
      margin-top: 40px;
    }

    .info-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;
      flex-wrap: wrap;
    }

    .specificCampingDiv{
      flex: 1;
    display: flex;
    flex-direction: column;
    
  }

  .weatherDiv{
    display: flex;
    flex-wrap: nowrap;
    max-width: 350px;
    gap: 10px;
    flex-direction: row;
    overflow-x: auto;
    max-width: 100%;
    margin-top: 0.45em;
  }

  .weatherbox{
    flex: 1 1 30%;
    min-width: 100px;
  }

  .right-column{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
  }

  #mapcontainer{
    width: 100%;
    height: 400px;
  }

  .filters-wrapper{
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
  
   
  }
}