body {
   /* width: 480px; */
    background-color: #CFBB99
}

#map {
    height: 300px;
    width: 100%;
}

.weatherDiv {
    display: flex;
   
    
    gap: 10px;

    overflow-x: auto;
}

.weatherbox {
    
    background-color: #e5d7c4;
    width: 90px;
  
    
    text-align: center;
}