.wrapbild{
    width:400px;
    margin: 0 auto;
    height: 700px;
    background-color: #CFBB99;
   background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5)), url("img/bildstarysida6.jpg");
}

#fj{
    background-color: #354024;
    opacity: 0.9;
    padding: 1px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 10px;
    max-width: 90%;
    margin: 20px auto;
    color:rgb(228, 228, 228)

}

.flex-box{
    opacity:90%;
    display: flex;
    align-items: center;
    background-color: #E5D7C4;
    padding:2rem;
    margin-bottom:2rem;
    border-radius: 3em;
    margin: 2rem auto;
    max-width: 600px;
    width: 70%;
    box-shadow: 0 5px 50px rgba(0, 0, 0.3);
    justify-content: center;
    flex-direction: center;
}

h1{
    font-family: serif;
}
p {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

#firsttitle{
    text-align: center;
}




